{% extends "object_watch/base.html" %}
{% block content %}
<h1>Object Movement Detection</h1>
<p>Добро пожаловать в прототип приложения для идентификации передвижений с помощью стационарных видеокамер. Это
    веб-приложение,
    которое было разработано в рамках ВКР по теме Идентификация передвижений с помощью стационарных видеокамер.Наша
    команда использовала множество технологий для создания этого приложения. Мы использовали Django для разработки
    веб-интерфейса, Apache Kafka для обработки потоковых данных и DeepStream со встроенной YOLOv7 для распознавания
    объектов на видео.

    Данное приложение было разработано для демонстрации возможностей современных машинных методов обнаружения
    объектов. Свяжитесь с нами, если у вас есть какие-либо вопросы или предложения по улучшению нашего приложения.</p>

<p>Телефон: </p>
<p>Email: </p>
{% endblock content %}